<!-- NAV BEGIN -->
<div class="container-fluid navigation navigation-page">
  <div class="row">

    <div class="col-sm-1"></div>

    <div class="col-sm-10">
      <nav class="navbar navbar-expand-lg navbar-light">

        {{#link-to "lang.index" class="navbar-brand"}}
          <img src="/img/header/logo-violet-ru.png" width="139" height="40"/>
        {{/link-to}}

        {{#if media.isResponsive}}
          <button {{action 'toggleMenu'}}
            class="navbar-toggler"
            type="button">
            {{#if showMenu}}
              <i class="fa fa-close"></i>
            {{else}}
              <i class="fa fa-bars"></i>
            {{/if}}
          </button>

          {{#if showMenu}}
            <div class="collapse navbar-collapse show in">
              {{common/common-menu}}
            </div>
          {{/if}}
        {{else}}
          {{common/common-menu}}
        {{/if}}

      </nav>

    </div>

    <div class="col-sm-1"></div>
  </div>
</div>
<!-- NAV END -->